* {
  text-transform: capitalize;
}

nav {
  background-color: cadetblue;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav > h1 {
  font-size: 3rem;
}

#logo {
  margin-left: 5rem;
  height: 100px;
  border-radius: 50%;
}

.navlinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 3rem;
  font-size: large;
}

.product-page {
  text-align: center;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.single-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  border-radius: 15px;
  width: 20rem;
}
