.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-image: url(./assets/sapinnoel.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  text-align: center;
  gap: 3rem;
}
.NoApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  height: 100vh;
  background-color: chocolate;
  overflow: hidden;
}
.maria {
  position: absolute;
  top: 18%;
  left: 12%;
}
button {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  padding: 0, 2rem;
}
.toto {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 20%;
}

.titi {
  position: relative;
  height: 15rem;
  animation: slide 8s infinite;
}

.tata {
  width: 15rem;
  animation: slidebis 7s infinite;
}

.dore {
  height: 5rem;
}
@keyframes slide {
  0% {
    transform: translateX(-10vw); /* IceAyoub part de la gauche */
  }
  15% {
    transform: translate(15vw, -10vh);
  }
  25% {
    transform: translate(25vw, 10vh);
  }
  35% {
    transform: translate(35vw, -15vh);
  }
  45% {
    transform: translate(45vw, 15vh);
  }
  55% {
    transform: translate(
      55vw,
      -5vh
    ); /* IceAyoub s'arrête au milieu de l'écran */
  }
  65% {
    transform: translate(65vw, 10vh);
  }
  75% {
    transform: translate(75vw, 30vh);
  }
  85% {
    transform: translate(85vw, 15vh);
  }
  95% {
    transform: translate(95vw, -5vh);
  }
  100% {
    transform: translateX(
      100vw
    ); /* IceAyoub reprend sa route vers l'extreme droite */
  }
}

@keyframes slidebis {
  0% {
    transform: translateX(-10vw); /* IceAyoub part de la gauche */
  }
  15% {
    transform: translate(15vw, 10vh);
  }
  25% {
    transform: translate(25vw, -10vh);
  }
  35% {
    transform: translate(35vw, 15vh);
  }
  45% {
    transform: translate(45vw, -15vh);
  }
  55% {
    transform: translate(
      55vw,
      -5vh
    ); /* IceAyoub s'arrête au milieu de l'écran */
  }
  65% {
    transform: translate(65vw, -10vh);
  }
  75% {
    transform: translate(75vw, -30vh);
  }
  85% {
    transform: translate(85vw, -15vh);
  }
  95% {
    transform: translate(95vw, 5vh);
  }
  100% {
    transform: translateX(
      100vw
    ); /* IceAyoub reprend sa route vers l'extreme droite */
  }
}
/* Effet de neige sur le site  */

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  overflow: hidden;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 5s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 5s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 1%;
  -webkit-animation-delay: 4s, 0.5s;
  animation-delay: 4s, 0.5s;
}
.snowflake:nth-of-type(11) {
  left: 10%;
  -webkit-animation-delay: 2s, 1.5s;
  animation-delay: 2s, 1.5s;
}
.snowflake:nth-of-type(12) {
  left: 20%;
  -webkit-animation-delay: 7s, 2s;
  animation-delay: 7s, 2s;
}
.snowflake:nth-of-type(13) {
  left: 30%;
  -webkit-animation-delay: 5s, 3s;
  animation-delay: 5s, 3s;
}
.snowflake:nth-of-type(14) {
  left: 40%;
  -webkit-animation-delay: 1s, 3s;
  animation-delay: 1s, 3s;
}
.snowflake:nth-of-type(15) {
  left: 50%;
  -webkit-animation-delay: 9s, 4s;
  animation-delay: 9s, 4s;
}
.snowflake:nth-of-type(16) {
  left: 60%;
  -webkit-animation-delay: 6s, 4s;
  animation-delay: 6s, 4s;
}
.snowflake:nth-of-type(17) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1.5s;
  animation-delay: 2.5s, 1.5s;
}
.snowflake:nth-of-type(18) {
  left: 80%;
  -webkit-animation-delay: 0.5s, 0.5s;
  animation-delay: 0.5s, 0.5s;
}
.snowflake:nth-of-type(19) {
  left: 90%;
  -webkit-animation-delay: 2s, 1.5s;
  animation-delay: 2s, 1.5s;
}
.snowflake:nth-of-type(20) {
  left: 1%;
  -webkit-animation-delay: 9s, 2.5s;
  animation-delay: 9s, 2.5s;
}
.snowflake:nth-of-type(21) {
  left: 10%;
  -webkit-animation-delay: 5s, 3.5s;
  animation-delay: 5s, 3.5s;
}
.snowflake:nth-of-type(22) {
  left: 20%;
  -webkit-animation-delay: 7s, 5.5s;
  animation-delay: 7s, 5.5s;
}
.snowflake:nth-of-type(23) {
  left: 30%;
  -webkit-animation-delay: 8s, 4s;
  animation-delay: 8s, 4s;
}
.snowflake:nth-of-type(24) {
  left: 40%;
  -webkit-animation-delay: 1.5s, 3.5s;
  animation-delay: 1.5s, 3.5s;
}
.snowflake:nth-of-type(25) {
  left: 50%;
  -webkit-animation-delay: 9.5s, 2.5s;
  animation-delay: 9.5s, 2.5s;
}
.snowflake:nth-of-type(26) {
  left: 60%;
  -webkit-animation-delay: 7.5s, 3.5s;
  animation-delay: 7.5s, 3.5s;
}
.snowflake:nth-of-type(27) {
  left: 70%;
  -webkit-animation-delay: 4.5s, 2.5s;
  animation-delay: 4.5s, 2.5s;
}
.snowflake:nth-of-type(28) {
  left: 80%;
  -webkit-animation-delay: 1.5s, 1.5s;
  animation-delay: 1.5s, 1.5s;
}
.snowflake:nth-of-type(29) {
  left: 90%;
  -webkit-animation-delay: 2.5s, 3s;
  animation-delay: 2.5s, 3s;
}
